  :root{
  
  --black-color: #0e0e0e;

  --black-color-light: #161616;

  --black-color-lighten: #2a2a2a;

  --white-color: #e8e0d0;

  --body-color: #7a7060;

  --primary-color: #ff5f1f;

  --secondary-color: #ffe0cc;

  }