/*! NOTE: These are just recommended default global styles, edit as required */

::selection { /* Optional */
  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */
  /* So you can customise your styles below */
  color: #fff;
  background-color: #00f;
}

html {
  /* Make base font-size 100% of browser font-size */
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after,
html {
  /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outras opções - content-box */
}

body {
  /* Declare your default font stack here */
  font-family: "Font Stack", sans-serif, serif, monospace, cursive, fantasy;
  /* outras opções - serif, monospace, cursive, fantasy */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  text-rendering: geometricPrecision;
  /* outras opções -optimizeLegibility | optimizeSpeed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* For responsive images that adjust & adapt */
  height: auto;
  max-width: 100%;
  
  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
}

button {
  color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

a, button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  /* Make the SVGs fit the parent container by default */
  height: 100%;
  width: 100%;
  
  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentColor;
  
  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;
}

iframe, video {
  /* Make iframes & videos fit the parent container by default */
  height: 100%;
  width: 100%
}

/**************************************************
***************************************************
*** O CÓDIGO COMEÇA DEPOIS DAQUI ***
***************************************************
***************************************************/
/***************** VARIABLES CSS ******************/
:root {
  --header-height: 3.2rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #0e0e0e;
  --black-color-light: #161616;
  --black-color-lighten: #2a2a2a;
  --white-color: #e8e0d0;
  --body-color: #7a7060;
  --primary-color: #ff5f1f;
  --secondary-color: #ffe0cc;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /*--body-font: "Roboto", sans-serif;*/
  /*--normal-font-size: .938rem;*/

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*****************  Estilos Base ******************/

body{
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  color: var(--white-color);
  background-color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: outfit, sans-serif;
}

p {
  font-size: 16px;
}

small {
  font-size: 0.8rem;
}

strong {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover, a:active, a.active {
  color: var(--primary-color);  
}

/************************************
******** largura dos elemento *******
******** que compoem o body *********
*************************************/
/* utilizando tags */
/*
body header, body main, body footer {
 width: 100%;
 max-width: 1680px;
 margin: 0 auto;
 padding: 0 16px;
}
*/
/* utilizando id */
/*
#topHeader, #mainContent, #mainFooter {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}
*/
/* utilizando classes */

.pageWidth {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

/*********************************************
**** Definição da tipografia para mobile *****
*********************************************/

h1, .h1{
  font-size: 2.986rem;
  font-weight: 700;
  letter-spacing: 0.22rem;
  line-height: 1.5;
}

h2, .h2{
  font-size: 2.488rem;
  font-weight: 600;
  line-height: 1.15;
}

h3, .h3{
  font-size: 2.074rem;
  font-weight: 500;
  line-height: 1;
}

h4, .h4{
  font-size: 1.728rem;
}

h5, .h5{
  font-size: 1.44rem;
}

h6, .h6{
  font-size: 1.2rem;
}

/*********************************************
**** Definição da tipografia para desktop *****
*********************************************/
@media (min-width: 992px) {
  h1, .h1{
    font-size: 4rem;
    font-weight: 700;
   letter-spacing: 0rem;
   line-height: 1.2;
  }

  h2, .h2{
    font-size: 3rem;
  }

  h3, .h3{
    font-size: 1.5rem;
  }

  h4, .h4{
    font-size: 1rem;
  }

  h5, .h5{
    font-size: 1.9999rem;
  }

  h6, .h6{
    font-size: 1.414rem;
  }
}

/****************************************
********** menu de navegação ************
****************************************/

/*=============== HEADER ===============*/
#topHeader {
  position: fixed; /* menu fixo no scroll*/
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 0.5px 10px #ff5f1f;
  z-index: var(--z-fixed);
}

#mainMenu {
  height: var(--header-height);
  width: 100%;
  max-width:1680px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.navAction {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  #headerLogo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

#headerLogo a{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

#headerLogo img {
  width: 3rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}
